@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1770462733765') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e61d";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e61e";
}

.icon-kuaijiezhifu:before {
  content: "\e61f";
}

.icon-shangchuantupian:before {
  content: "\e620";
}

.icon-dingwei:before {
  content: "\e621";
}

.icon-xiala:before {
  content: "\e622";
}

.icon-tishi:before {
  content: "\e623";
}

