/* 公共样式 */

/* 版心 */
.w {
    width: 1240px;
    margin: 0 auto;
}


/* 1.1快捷导航栏部分 */
.shortcut {
    height: 52px;
    background-color: #333333;
}

.shortcut ul {
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shortcut ul a {
    margin: 0 15px;
    display: block;
    color: #FFFFFF;
    font-size: 14px;
}

.shortcut ul li:first-child a {
    color: #5EB69C;
}

.shortcut ul li:hover a {
    color: #5EB69C;
}

.shortcut ul .line {
    display: line-block;
    width: 1px;
    height: 12px;
    background-color: #999;
}

.shortcut ul li .icon-mobile-phone {
    /* font-size: 18px; */
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


/* 1.2头部header部分 */
.header {
    display: flex;
    height: 132px;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

.header .logo {
    width: 200px;
    height: 88px;
}

.header .logo h1 {
    width: 100%;
    height: 100%;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

.nav {
    display: flex;
    gap: 48px;

}

.nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
}

.nav li:nth-child(1) a {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.nav li a:hover {
    border-bottom: 2px solid #5EB69C;
    color: #5EB69C;
}

.search input {
    width: 170px;
    height: 40px;
    border-bottom: 2px solid #F4F4F4;
    padding-left: 28px;
}

.search input::placeholder {
    font-size: 14px;
    color: #ccc;
}

.cart i {
    font-size: 40px;
    margin-right: 15px;
}


/* 2网页底部 */
.footer {
    width: 100%;
    height: 582px;
    background-color: #f5f5f5;
}

/* 2.1网页底部口号模块 */
.footer .slogan ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 178px;
}


.footer .slogan li {
    display: flex;
    align-items: center;
}

.slogan li h5 {
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png) no-repeat;
}

.slogan ul li p {
    font-size: 28px;
    margin-left: 20px;
}

.slogan li .two {
    background-position: 0 -58px;
}

.slogan li .three {
    background-position: 0 -116px;
}

.slogan li .four {
    background-position: 0 -174px;
}

/* 2.2网页底部服务模块 */
.service {
    display: flex;
    border-top: 1px solid #E8E8E8;
}

.service .service-left {
    display: flex;
    gap: 84px;
    height: 202px;
    padding-top: 72px;
    margin-right: 84px;
}

.service-left dt {
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
}

.service-left dd {
    margin-bottom: 12px;
}

.service-left dd a {
    font-size: 16px;
    color: #969696;
}

.service-left dd a:hover {
    color: #5EB69C;
}

.service-left dd .icon-customer-service {
    font-size: 18px;
    color: #5EB69C;
}

.service-right ul {
    display: flex;
    gap: 55px;
    margin-top: 55px;
}

.service-right ul li {
    text-align: center;
}

.service-right ul li p {
    margin-top: 10px;
    font-size: 16px;
    color: #969696;
}

/* 2.3版权模块 */
.copyright {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.copyright p {
    font-size: 16px;
    color: #969696;
    padding: 10px;
}

.copyright p a {
    font-size: 16px;
    color: #969696;
    padding: 10px;
}

.copyright p a:hover {
    color: #5EB69C;
}