/* 公共样式 */

/* 版心 */
.w {
    width: 1240px;
    margin: 0 auto;
}


/* 1.1快捷导航栏部分 */
.shortcut {
    height: 52px;
    background-color: #333333;
}

.shortcut ul {
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shortcut ul a {
    margin: 0 15px;
    display: block;
    color: #FFFFFF;
    font-size: 14px;
}

.shortcut ul li:first-child a {
    color: #5EB69C;
}

.shortcut ul li:hover a {
    color: #5EB69C;
}

.shortcut ul .line {
    display: line-block;
    width: 1px;
    height: 12px;
    background-color: #999;
}

.shortcut ul li .icon-mobile-phone {
    /* font-size: 18px; */
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


/* 1.2头部header部分 */
.header {
    display: flex;
    height: 132px;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

.header .logo {
    width: 200px;
    height: 88px;
}

.header .logo h1 {
    width: 100%;
    height: 100%;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

.nav {
    display: flex;
    gap: 48px;

}

.nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
}

.nav li:nth-child(1) a {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.nav li a:hover {
    border-bottom: 2px solid #5EB69C;
    color: #5EB69C;
}

.search input {
    width: 170px;
    height: 40px;
    border-bottom: 2px solid #F4F4F4;
    padding-left: 28px;
}

.search input::placeholder {
    font-size: 14px;
    color: #ccc;
}

.cart i {
    font-size: 40px;
    margin-right: 15px;
}

.footer {
    width: 100%;
    height: 582px;
    background-color: #f5f5f5;
}

.footer .slogan ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 178px;
}

.footer .slogan li {
    display: flex;
    align-items: center;
}

.slogan li h5 {
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png) no-repeat;
}

.slogan ul li p {
    font-size: 28px;
    margin-left: 20px;
}

.slogan li h5 .two {
    background-position: 0 -58px;
}

.slogan li h5 .three {
    background-position: 0 -116px;
}

.slogan li h5 .four {
    background-position: 0 -174px;
}