/* 首页样式 */

/* entry模块 */
.entry .w {
    position: relative;
    height: 500px;
    background-color: #5EB69C;
    /* background: url(../uploads/banner1.png) no-repeat; */
}

.category {
    position: absolute;
    top: 0;
    left: 0;
    /* 提高定位的层级 */
    z-index: 100;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
}

.category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    line-height: 50px;
}

.category ul li:hover {
    background-color: #5EB69C;
    transition: all 0.3s ease-in-out;
}

.category ul p {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 29px;
}

.category p a {
    font-size: 13px;
    color: #fff;

}

.category p .active {
    font-size: 16px;
    margin-right: 5px;
}

.category i {
    margin-right: 12px;
    color: #fff;
}

.entry .banner {
    position: relative;
}

.banner .prev,
.banner .next {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner .prev {
    left: 250px;
}

.banner .next {
    right: 0;
}

.banner .prev i,
.banner .next i {
    font-size: 35px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}

.entry .banner .circle {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.entry .banner .circle li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.50);
}

.entry .banner .circle li:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.50);
    background-color: #fff;
    transition: all 0.3s;
}

/* 新鲜好物、人气推荐模块  */
.box-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 40px 0 30px;
}

.box-hd h3 {
    font-size: 30px;
    color: #333;
}

.box-hd h3 small {
    font-size: 16px;
    color: #A1A1A1;
    margin-left: 30px;
}

.box-hd a {
    display: block;
    font-size: 16px;
    color: #A1A1A1;
}

.box-bd ul {
    display: flex;
    gap: 8px;
}

.box-bd li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}

.box-bd li img {
    width: 304px;
    height: 304px;
}

.box-bd li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-bd li .title {
    width: 100%;
    height: 100%;
    font-style: 20px;
    margin: 18px 0 9px;
    padding: 5px 25px;
    text-align: center;
    /* 超出部分省略号 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-bd li .price {
    font-size: 18px;
    color: #AA2113;
}

.box-bd li .price span {
    font-size: 22px;
    padding-left: 5px;
}

.hot .box-bd li .price {
    font-size: 16px;
    color: #A1A1A1;
    margin-top: 10px;
}

.hot .box-bd li {
    background-color: #fff;
}


/* 热门品牌模块 */
.brand {
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.brand .arrow {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.brand .arrow i {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0.42;
    text-align: center;
    line-height: 20px;
    color: #fff;
    margin-bottom: 15px;

}

.brand .arrow i:hover {
    background-color: #00BE9A;
}

.brand .box-bd li {
    width: 244px;
    height: 346px;
    background-color: #f5f5f5;
}

.brand .box-bd li img {
    width: 244px;
    height: 306px;
}




/* 生鲜、服饰、餐厨、居家模块 */
.clothes {
    width: 100%;
    margin-top: 40px;
}

.clothes .box1-hd {
    display: flex;
    justify-content: space-between;

}

.clothes .box1-hd .hd-left {
    font-size: 30px;
    font-family: PingFangSC-Regular;
}

.clothes .box1-hd .hd-right {
    display: flex;
}

.clothes .box1-hd .hd-right ul {
    display: flex;
    gap: 20px;
}

.box1-hd .hd-right li a {
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.box1-hd .hd-right li a:hover {
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: #00BE9A;
    color: #fff;
    /* transition: all 0.3s; */
}

.clothes .box1-hd .hd-right .more {
    font-size: 16px;
    color: #a1a1a1;
    margin-left: 65px;
}

.clothes .box1-bd {
    display: flex;
    margin-top: 20px;
}

.box1-bd .bd-left {

    width: 248px;
    height: 610px;
    background-color: pink;
}

.box1-bd .bd-right {
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-top: 10px;
    justify-content: space-between;


}

.box1-bd .bd-right .item {
    padding: 10px 21px;
    flex: 1;
    width: 242px;
    height: 305px;
    min-width: 25%;
    max-width: 25%;
    transition: all 0.3s;
    position: relative;
    /* background-color: pink; */
}

.box1-bd .bd-right .item:hover {
    border: 2px solid rgba(0, 190, 154, 1);
}

.box1-bd .bd-right .item img {
    width: 200px;
    height: 180px;
    text-align: center;
    line-height: 180px;
}

.box1-bd .bd-right .item .title {
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0 8px;
    font-family: PingFangSC-Regular;
}

.box1-bd .bd-right .item .price {
    font-size: 22px;
    color: #AF2F22;
}

.box1-bd .bd-right .price small {
    font-size: 16px;
    color: #AF2F22;
}



/* 最新专题模块 */
.new .box2-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.box2-hd .hd-left .title {
    font-size: 30px;
    font-family: PingFangSC-Regular;
}

.box2-hd .hd-right .more {
    font-size: 16px;
    color: #A1A1A1;
    font-family: PingFangSC-Regular;
    line-height: 22px;
}

.new .w .box2-bd {
    display: flex;
    gap: 12px;
}

.new .box2-bd .item-top1 {
    width: 405px;
    height: 288px;
    background: url(../uploads/topic1.png);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 15px;
    padding: 14px;
}

.new .box2-bd .item-top2 {
    width: 405px;
    height: 288px;
    background: url(../uploads/topic2.png);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 15px;
    padding: 14px;
}

.new .box2-bd .item-top3 {
    width: 405px;
    height: 288px;
    background: url(../uploads/topic3.png);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 15px;
    padding: 14px;
}

.new .box2-bd .content {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.new .box2-bd .content h3 {
    font-size: 20px;
    font-family: PingFangSC-Regular;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 6px;
    /* line-height: 24px; */
}

.new .box2-bd .content p {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    line-height: 27px;
}

.new .box2-bd .content .price {
    margin-top: 10px;
    font-family: PingFangSC-Regular;
    width: 79px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: #AA2113;
    font-family: PingFangSC-Regular;
    line-height: 27px;
}


.box2-bd .item .item-bottom {
    width: 405px;
    height: 67px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 25px;
    padding: 0 15px;
}

.box2-bd .item-bottom .love {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
}

.box2-bd .item-bottom .love .active {
    color: #AF2F22;
}

.box2-bd .item-bottom .comment {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
}