/* 首页样式 */

/* entry模块 */
.entry .w {
    height: 500px;
    background-color: #5EB69C;
    background: url(../uploads/banner1.png) no-repeat;
}

.category {
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
}

.category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    line-height: 50px;
}

.category ul li:hover {
    background-color: #5EB69C;
    transition: all 0.3s ease-in-out;
}

.category ul p {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 29px;
}

.category p a {
    font-size: 13px;
    color: #fff;

}

.category p .active {
    font-size: 16px;
    margin-right: 5px;
}

.category i {
    margin-right: 12px;
    color: #fff;
}



/* 新鲜好物模块  */
.box-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 40px 0 30px;
}

.box-hd h3 {
    font-size: 30px;
    color: #333;
}

.box-hd h3 small {
    font-size: 16px;
    color: #A1A1A1;
    margin-left: 30px;
}

.box-hd a {
    display: block;
    font-size: 16px;
    color: #A1A1A1;
}

.box-bd ul {
    display: flex;
    gap: 8px;
}

.box-bd li {
    width: 304px;
    height: 404px;
    background-color: #EEF9F4;
}

.box-bd li img {
    width: 304px;
    height: 304px;
}

.box-bd li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-bd li .title {
    width: 100%;
    height: 100%;
    font-style: 20px;
    margin: 18px 0 9px;
    padding: 5px 25px;
    text-align: center;
    /* 超出部分省略号 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-bd li .price {
    font-size: 18px;
    color: #AA2113;
}

.box-bd li .price span {
    font-size: 22px;
    padding-left: 5px;
}

.hot .box-bd li .price {
    font-size: 16px;
    color: #A1A1A1;
    margin-top: 10px;
}

.hot .box-bd li {
    background-color: #fff;
}

